# Python
__pycache__/

# VS Code temp files
tempCodeRunnerFile.py

# Environment variables
.env

# User generated data
user_uploads/

# Generated media only
static/reels/
static/songs/
user_uploads/

# Generated audio/video
*.mp3



